node_modules

sudoku/sudoku_cpp
sudoku/sudoku_js
sudoku/sudoku_0000.zkey
sudoku/sudoku_0001.zkey
sudoku/sudoku.r1cs
sudoku/sudoku.sym
sudoku/pot12_0000.ptau
sudoku/pot12_0001.ptau
sudoku/pot12_final.ptau
sudoku/proof.json
sudoku/public.json
sudoku/verification_key.json
sudoku/verifier.sol
sudoku/witness.wtns
sudoku/parameters.txt

futoshiki/futoshiki_cpp
futoshiki/futoshiki_js
futoshiki/futoshiki_0000.zkey
futoshiki/futoshiki_0001.zkey
futoshiki/futoshiki.r1cs
futoshiki/futoshiki.sym
futoshiki/pot12_0000.ptau
futoshiki/pot12_0001.ptau
futoshiki/pot12_final.ptau
futoshiki/proof.json
futoshiki/public.json
futoshiki/verification_key.json
futoshiki/verifier.sol
futoshiki/witness.wtns
futoshiki/parameters.txt

skyscrapers/skyscrapers_cpp
skyscrapers/skyscrapers_js
skyscrapers/skyscrapers_0000.zkey
skyscrapers/skyscrapers_0001.zkey
skyscrapers/skyscrapers.r1cs
skyscrapers/skyscrapers.sym
skyscrapers/pot12_0000.ptau
skyscrapers/pot12_0001.ptau
skyscrapers/pot12_final.ptau
skyscrapers/proof.json
skyscrapers/public.json
skyscrapers/verification_key.json
skyscrapers/verifier.sol
skyscrapers/witness.wtns
skyscrapers/parameters.txt