sudoku/sudoku_cpp
sudoku/sudoku_js

sudoku/sudoku_0000.zkey
sudoku/sudoku_0001.zkey
sudoku/sudoku.r1cs
sudoku/sudoku.sym
sudoku/pot12_0000.ptau
sudoku/pot12_0001.ptau
sudoku/pot12_final.ptau
sudoku/proof.json
sudoku/public.json
sudoku/verification_key.json
sudoku/verifier.sol
sudoku/witness.wtns
sudoku/parameters.txt

node_modules